[submodule "tools/code-style"]
	path = tools/code-style
	url = https://github.com/cgware/code-style
[submodule "packages/build"]
	path = packages/build
	url = https://github.com/cgware/build
[submodule "tools/third-party"]
	path = tools/third-party
	url = https://github.com/cgware/third-party
[submodule "packages/cbase"]
	path = packages/cbase
	url = https://github.com/cgware/cbase
[submodule "tools/workflows"]
	path = tools/workflows
	url = https://github.com/cgware/workflows
[submodule "packages/ctest"]
	path = packages/ctest
	url = https://github.com/cgware/ctest
[submodule "packages/cutils"]
	path = packages/cutils
	url = https://github.com/cgware/cutils
