[submodule "tools/code-style"]
	path = tools/code-style
	url = https://github.com/cgware/code-style
[submodule "packages/build"]
	path = packages/build
	url = https://github.com/cgware/build
[submodule "tools/third-party"]
	path = tools/third-party
	url = https://github.com/cgware/third-party
